.card-border {
  margin: 2.5%;
}

.cross-through {
  text-decoration: line-through;
  color: red;
  margin-left: 10px;
}

.img-sizing {
  height: 300px;
}

div.card {
  width: 100%;
  height: 400px;
}

.price {
  display: flex;
  text-align: center;

}

.centralized {
  text-align: center;
  margin-left: 40%;
}

