<div class="col-md-6 offset-3">
  <div class="detail">
    <div class="detail-image">
      <img class="detail-image" [src]="'./../assets/images/' + product.image + '.png'">
      {{product.image}}
    </div>
    <div class="detail-content">
      <h2>{{product.name}}</h2>
      <p>{{product.description}}</p>
      <p>{{product.price}}</p>
      <p>{{product.discount}}</p>
      <input type="button" class="btn btn-primary" value="Add to Warenkorb" (click)="addProduct()">
    </div>
  </div>
</div>
