.header-container {
  width: 100%;
  height: 150px;
  background: lightgrey;
}

.navbar {
  height: 80px;
  background: lightgrey;
  margin-left: 25%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
