<div class="col-md-6 offset-3">
  <h2>Shopping Cart</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Price per unit</th>
        <th>Amount</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of shoppingCartService.shoppingCart">
      <th>{{product.name}}</th>
      <td>{{product.price / 100 * product.discount}}</td>
      <td>
      <button (click)="addToAmount(product)">-</button>
        {{product.amount}}
      <button (click)="subtractFromAmount(product)">+</button>
      </td>
      <td>{{product.amount * (product.price / 100 * product.discount)}}</td>
    </tr>
    </tbody>
  </table>
</div>
